<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Character</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Character:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addPersonnage}"
      th:object="${personForm}" method="POST">
    Name:
    <input type="text" th:field="*{name}"/>
    <br/>
    <div>

        Type:
        <!--    <input type="text" th:field="*{type}" />-->

        <div>
            <input type="radio" id="Guerrier" th:field="*{classe}" name="classe" value="Guerrier">
            <label for="Guerrier">Warrior</label>
        </div>

        <div>
            <input type="radio" id="Mage" th:field="*{classe}" name="classe" value="Mage">
            <label for="Mage">Wizard</label>
        </div>
    </div>

    <br/>
    <input type="submit" value="Create"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>