<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person List </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addPersonnage">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
        <tr th:each ="personnage : ${personnages}">
            <td><a th:href="|/personnages/${personnage.id}|" th:utext="${personnage.name}">...</a></td>
            <td th:utext="${personnage.id}">...</td>

        </tr>
    </table>
</div>
</body>
</html>