<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>personnage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person</h1>
<div>
    <span th:utext="${personnages.name}">...</span>
    <br/><br/>
    <span th:utext="${personnages.id}">...</span>
    <br/><br/>
    <a th:href="|/delete/${personnages.id}|">Delete</a>
    <a th:href="|/updateForm/${personnages.id}|">Edit</a>
</div>
<br/><br/>
<a href="/personList">Person List</a>
</body>
</html>